@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_BitLayout.cshtml";
    

}

<!--  hero-section -->


<div id="particles-js" class="hero-section">
</div>
    <div class="hero-container">
        <div class="container">
            <div class="row ">
                <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12 text-center ">
                    <!--  hero-block-->
                    <div class="hero-block">
                        <h1 class="hero-title mb30">Buy And Sell Digital Currency</h1>
                        <p class="text-white">Praesent sodales ultricies dolorut feugiatnisi tincidunt utestib Aliquam enim nisl, efficitupendisse convallis nisl eu leo commodo tempus. ulumest urnatristi risus sitame.</p>
                        <a href="#" class="btn btn-default btn-lg">Get Started</a>
                    </div>
                    <!--  /.hero-block-->
                </div>
            </div>
        </div>
    </div>
    <!--  /.hero-section -->
    <!--  bitcoin-price-section -->
    <div class="bg-light">
        <div class="container">
            <div class="row ">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 ">
                    <p class="text-primary pdt10 pdb10">Bitcoin BTC <strong>$9919.41</strong> </p>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 ">
                    <p class="text-primary pdt10 pdb10">Ethereum ETH <strong>$759.41</strong> </p>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 ">
                    <p class="text-primary pdt10 pdb10">Ripple XRP <strong>$0.8612</strong> </p>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 ">
                    <p class="text-primary pdt10 pdb10">Litecoin LTC <strong>$184.91</strong> </p>
                </div>
            </div>
        </div>
    </div>

    <!--  /.bitcoin-price-section -->
    
