@{

    Layout = "~/Views/Shared/_BitLayout.cshtml";
    ViewBag.Title = "Dashboard";
}

<div>
</div>
<div></div>
<hr />

<div class="row ">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center mb30 ">
        <h2>Invest with us</h2>
    </div>
</div>
<div class="row">
    
        <div class="col-md-4">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="~/Content/assets/images/post_img_3.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Basic Plan</h5>
                    <p class="card-text">This plan gives you 50% ROI for a maturity duration of two weeks</p>
                    <a href="~/investment/invoice" class="btn btn-primary">View Plan</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="~/Content/assets/images/post_img_1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Pro Plan</h5>
                    <p class="card-text">The pro plan allows you to make 100% returns after 21 days</p>
                    <a href="#" class="btn btn-primary">View Plan</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="~/Content/assets/images/post_img_2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Advanced Plan</h5>
                    <p class="card-text">The plan for the avid investor. Patiently wait for one month and earn 150% ROI</p>
                    <a href="#" class="btn btn-primary">View Plan</a>
                </div>
            </div>
        </div>

</div>
